.btn{
    padding: 1rem 2rem;
    text-align: center;
    color: #fff;
    border-radius: 10px;
    background: red;
    text-transform: uppercase;
    border: none;
    margin: 1.5rem 0;
}

.imgHolder{
    position: relative;
    width: 20rem;
    height: 20rem;
}
.viewCon{
    position: absolute;
    bottom: 5px;
    text-align: center;
    background-color: rgba(100, 98, 98, 0.749);
    padding: .4rem 0;
    width: 100%;
}
.view{
    color: white;
    text-transform: capitalize;
    

}
.img{
    width: 90%;
    height: 100%;
    position: absolute;
}
.name{
    text-transform: capitalize;
    padding: 1rem 0;
    font-size: larger;
}

.desc{
    color: hotpink;
    text-transform: capitalize;
    font-weight: 400;
    padding-bottom: 1rem;
    font-size: 1rem;
}
.price{
    font-weight: 400;
    font-size: 500;

}

.cakes{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    justify-content: space-between;
    flex-basis: 25%
     
   
     
}

@media(min-width:760px){
    .cakes{
    
       
    }
}

